@model RentAppMVC.Models.ChooseDateTimeViewModel

<h1>Choose Date and Time</h1>

<form method="post" asp-action="ConfirmDateTime">
    <div class="form-group">
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="startDate" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="endDate" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="startTime">Start Time:</label>
        <input type="time" id="startTime" name="startTime" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="endTime">End Time:</label>
        <input type="time" id="endTime" name="endTime" class="form-control" required />
    </div>
    <!-- Add hidden input fields to store chosen date and time -->
    <input type="hidden" id="cartStartDate" name="cartStartDate" />
    <input type="hidden" id="cartEndDate" name="cartEndDate" />
    <input type="hidden" id="cartStartTime" name="cartStartTime" />
    <input type="hidden" id="cartEndTime" name="cartEndTime" />

    <button type="submit" class="btn btn-primary">Confirm</button>
</form>
