@model List<Category>

@{
    ViewData["Title"] = "_CategoriesPartial";
}

<style>
    .display-4 {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 300;
        color: white; 
    }

    .big-square-form {
        display: inline-block;
        margin: 10px;
    }

        .big-square-form button {
            width: 340px; 
            height: 340px;
            background-color: black; 
            color: white; 
            font-size: 32px; 
            border: none;
            cursor: pointer; 
            border-radius: 10px;
            display: flex; 
            align-items: center; 
        }
</style>

<style>
    .category-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 10px; 
        height: 10px; 
        background-size: cover;
        background-position: center;
        border: none;
        cursor: pointer;
        justify-content: flex-end; 
    }

    .category-text {
        background-color: rgba(0, 0, 0, 0.8); 
        color: white;
        padding: 10px;
    }

</style>

<h3 class="display-4">CATEGORIES</h3>

@foreach (var category in Model)
{
    <div class="big-square-form">
        <form asp-controller="Home" asp-action="SelectCategory">
            <input type="hidden" name="categoryId" value="@category.CategoryID" />
            <button type="submit" class="category-button" style="background-image: url('@category.ImagePath');">
                <div class="category-text">@category.CategoryName.ToUpper()</div>
            </button>
        </form>
    </div>
}
