@model List<Category>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>HIIII</h1>
    <img src="~/images/HandyRent.png" alt="RentAppMVC Logo" class="logo-img" />
</div>

<div id="categoriesPartial">
    <!-- Categories section will be dynamically updated using JavaScript -->
</div>

@section scripts {
    <script>
        // Load categories section initially
        $(document).ready(function () {
            $('#categoriesPartial').load('@Url.Action("CategoriesPartial")');
        });

        // Function to handle category selection
        function selectCategory(categoryId) {
            $.post('@Url.Action("SelectCategory", "Home")', { categoryId: categoryId })
                .done(function (data) {
                    window.location.href = data.url; // Redirect using URL from response
                })
                .fail(function (xhr, status, error) {
                    console.error(xhr.responseText);
                });
        }


    </script>
}
